table{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    border-width: 3px;
    border-style: solid;
    border-color: #3366cc;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th{
    background-color: #3366cc;
    color: #ffffff; 
}

td{
    font-weight: 800;
}